@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: "Outfit", sans-serif;
  background: hsl(212, 45%, 89%);
  font-size: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  width: 245px;
  height: auto; 
  border-radius: 10px;
}

main h1 {
  font-weight: 700;
}

main p {
  font-size: 14px;
  font-weight: 400;
  
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}